.start-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.create-new-account {
  background: #18011f;
  background: linear-gradient(90deg, #9966a8, #850b70);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.create-styles {
  background: #f1edefec;
  border-radius: 5px;
  appearance: none;
  font-weight: bold;
  width: 220px;
  height: 40px;
  position: relative;
  top: 15%;
  text-align: center;
  opacity: 0.4;
  justify-content: center;
  flex-direction: column;
}

.direction-to-the-other-page {
  appearance: none;
  border-radius: 5px;
  background-color: #748d89;
  font-weight: bolder;
  width: 140px;
  height: 40px;
  position: relative;
  top: 15%;
  left: 20%;
  padding: 15px;
  font-size: medium;
  color: #f7f1eb;
  font-size: var(--base-text-font-size);
}
.direction-to-the-other-page-2 {
  appearance: none;
  border-radius: 5px;
  background-color: #748d89;
  font-weight: bolder;
  width: 140px;
  height: 40px;
  position: relative;
  top: 15%;
  left: -0%;
  padding: 15px;
  text-align: center;
  font-size: medium;
  color: #f7f1eb;
  text-align: center;
  font-size: var(--base-text-font-size);
}

.direction-to-new-account {
  border-radius: 5px;
  background-color: #748d89;
  font-weight: bolder;
  min-width: 2px;
  height: 2px;
  position: relative;
  left: -60px;
  padding: 10px;
  font-size: smaller;
  color: #f7f1eb;
  justify-content: center;
  flex-direction: column;
}

.direction-to-new-account-next {
  border-radius: 5px;
  background-color: #748d89;
  font-weight: bolder;
  min-width: 2px;
  height: 2px;
  position: relative;
  right: -60px;
  padding: 10px;
  font-size: smaller;
  color: #f7f1eb;
  justify-content: center;
  flex-direction: column;
}
.direction-to-new-account-back {
  border-radius: 5px;
  background-color: #748d89;
  font-weight: bolder;
  min-width: 2px;
  height: 2px;
  position: relative;
  left: -50px;
  padding: 10px;
  font-size: smaller;
  color: #f7f1eb;
  justify-content: center;
  flex-direction: column;
}
.direction-to-new-account-submit {
  border-radius: 5px;
  background-color: #748d89;
  font-weight: bolder;
  min-width: 2px;
  height: 2px;
  position: relative;
  right: -50px;
  padding: 10px;
  font-size: smaller;
  color: #f7f1eb;
  justify-content: center;
  flex-direction: column;
}
.cart {
  width: 100%;
  height: 80px;
  background-color: #748d89;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.links a {
  text-decoration: #18011f;
  color: aliceblue;
  margin-left: 20px;
  font-size: 25px;
}
.links a{
    text-decoration: #18011f;
    color: aliceblue;
    margin-left: 20px;
    font-size: 25px;
}
.Products{
    border:#e8caf1 8px outset;
    border-radius: 6px;
    padding: 16px;
    width: 400px; 
    height: 218px;
    padding: 3px 10px;
    border: #e8caf1  5px solid;
    border-radius: 20px;
}
.imagen{
    width: 250px; 
    height: 150px;
}
.Products{
    background: #18011f;
    background: linear-gradient(90deg,#9966a8,#850b70);
    background-clip: text;-webkit-background-clip: text;color: transparent;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    margin-right: 8px;
    margin-bottom: 8px;
}
.Products:last-child{margin-right: 0}

.shop-wrapper{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-columns: max-content 1fr;
}
.Products-2{
    background: #18011f;
    background: linear-gradient(90deg,#9966a8,#850b70);
    background-clip: text;-webkit-background-clip: text;color: transparent;
    position: relative;
    justify-content: center;
}
.imagen{
    background-position: 20px 30px;
    background-image: linear-gradient(#9966a8,#850b70);
}
.product-car{
    border-radius: 5px;
    background-color:#748D89;
    font-weight: bolder;
    min-width:2px;
    height:2px;
    position:relative;
    right:-50px;
   padding:10px;
   font-size: smaller;
   color: #F7F1EB;
   justify-content: center;
   flex-direction: column; 
   left: -0px;
   

}
.product-title{
    color: #850b70;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    font-size: larger;
    position: relative;
}
.product-value{
    color: #850b70;
    text-shadow: 1px 1px #fff;
    font-weight:lighter;
    font-size: larger;
    position: relative;
}
.product-quantity{
    color: #850b70;
    text-shadow: 1px 1px #fff;
    font-weight:lighter;
    font-size: larger; 
    position: relative;
}
.shoppingCartItem{
    position: relative;
    display: inline-block;
    padding: 8px;
}
.shoppinCartItemCount{
    position: absolute;
    top:0px;
    right: -0px;
    font-size: 18px;
}

.imagen-checkout-products{

    width: 100px;
    height: 100px;
    overflow-clip-margin: content-box;
    top: 300px

}
.cheackout-products-title{
    color: #850b70;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 8px;
    
}
.checkout-products-value{
    color: #850b70;
    text-shadow: 1px 1px #fff;
    font-weight:lighter;
    font-size: larger;
    margin-bottom: 8px;
}

.checkout-products-quantity{
    color: #850b70;
    text-shadow: 1px 1px #fff;
    font-weight:lighter;
    font-size: larger;
    margin-bottom: 8px; 
}

.checkout-products-car{
    border-radius: 5px;
    background-color:#748D89;
    font-weight: bolder;
    height:2px;
   padding:10px;
   font-size: smaller;
   color: #F7F1EB;
   justify-content: center;
   flex-direction: column; 
   
}
.Products-3{
    padding: 32px;
    display: flex;
    width: 100%;
    
}
.Cart-checkout{
    color: #850b70;
    text-shadow: 1px 1px #fff;
    font-weight:lighter;
    font-size: larger;
    margin-bottom: 12px;
    
}
.Cart-checkout-2{
    color: #850b70;
    text-shadow: 1px 1px #fff;
    font-weight:lighter;
    font-size: larger;
    border-top: 1px solid rgb(204, 197, 197);
    padding: 0;
    margin-bottom:24px;
    width: 175px;
    padding-top: 8px;
}
.cartCheckout-products{
width: 50%;
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

.cartCheckout-total{
    width: 50%;
    padding-top: 82px;
}

.cartCheckout{
    display: flex;
    margin-top: 100px;
}

.product-car-2{
    border-radius: 5px;
    background-color:#748D89;
    font-weight: bolder;
   padding:18px;
   font-size: smaller;
   color: #F7F1EB;
   font-size: 15px;
   font-weight: 900;
   line-height: 1;
   padding: 15px 50px;
   margin-bottom: 12px;
   
}
.shipping-info-continue-shopping{
    border-radius: 5px;
    background-color:#748D89;
    font-weight: bolder;
   padding:16px;
   font-size: 16px;
   color:#F7F1EB;
   width: 220px;
 
}
.shipping-info-continue-shopping span{
    margin: 0 auto;
    width: 100%;
    display: block;
}
.shippin-info-description{
    font-size: 14px;
    font-style: italic;
    background: linear-gradient(90deg,#9966a8,#850b70);
    background-clip: text;-webkit-background-clip: text;color: transparent;
    margin-top: 4px;
    margin-bottom: 16px;
    color: gray;
}
.shipping-info-continue-shopping-2{
    border: none;
    background: white;
    font-weight: bolder;
   padding:16px;
   font-size: 16px;
   color:#0c0c0c;
   width: 220px;
 
}
.shippingInfo-form{
    margin-top: 100px;
}

.shop-categories-title{
    color: #850b70;
    font-size: 20px;
    margin-top: 0;
 
}
.shop-categories{
    padding: 40px 0 0 40px;
  
}

.shop-categories-categories{
font-size: 18px;
font-weight: 700;
}
.shop-categories-subcategories{
font-size: 16px;
cursor: pointer;
}
.shop-products{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-cart{
    position:relative
}
.navbar-cart-count{
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 14px;
    color:#850b70
   
}

.new-products{
    margin-top: 120px;
    display:grid;
    gap:16px;
    max-width: 600px;
    margin-left: 230px;
    justify-content: center;

}
.direction-to-new-account-submit-2{
    border-radius: 5px;
    background-color: #748d89;
    font-weight: bolder;
    width: 140px;
    height: 40px;
    position: relative;
    top: 5%;
    left: 20%;
    padding: 15px;
    color: #f7f1eb;
  
}
.new-products-input{
    background: #f1edefec;
    border-radius: 5px;
    appearance: none;
    font-weight: bold;
    width: 220px;
    height: 40px;
    text-align: center;
    opacity: 0.4;
    justify-content: center;
    flex-direction: column;

}
.new-products-label span{
display:block;
margin-bottom: 4px;
color: #850b70;
font-weight: bold;
}

.direction-to-new-account-back-3 {
    border-radius: 5px;
    background-color: #850b70;
    font-weight: bolder;
    min-width: 2px;
    height: 2px;
    position: relative;
    left: -60px;
    padding: 10px;
    font-size: smaller;
    color: #f7f1eb;
    justify-content: center;
    flex-direction: column;
  }
  .direction-to-new-account-back-4 {
    border-radius: 5px;
    background-color: #850b70;
    font-weight: bolder;
    min-width: 2px;
    height: 2px;
    position: relative;
    right: -60px;
    padding: 10px;
    font-size: smaller;
    color: #f7f1eb;
    justify-content: center;
    flex-direction: column;
  }
  .user-panel{
    position: absolute;
    right: 0;
    top: 30px;
    padding: 14px;
    background:#fcfcfc;
    border: 1px solid #9966a8;
    border-radius: 5px;
    cursor: pointer;
    color: #850b70;
    font-weight: bolder;
    font-size: 16px;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
  
}
  .panel-open{
    position: relative;
    cursor: pointer;
    
  }
  .select-css{
  background: #f1edefec;
  padding: .8em 1.4em .3em .8em;
  width: 231px;
  opacity: 0.4;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  font-weight:bold;
  font-family: 'Arial', sans-serif;
  border-color: gray;
  }

 .file-select-2{
    border-radius: 5px;
    background-color: #c94687;
    font-weight: bolder;
    width: 140px;
    height: 40px;
    position: relative;
  
    padding: 15px;
    color: #f7f1eb;
 }
   